.App {
  text-align: center;
}

li {
  list-style-type : none;

}


.comment-box {
  border: 1px solid black;
  padding: 10px;
  margin: 15px; 
}

#underlined{
  text-decoration: underline !important;  

}

.article img {
  width: 55%;
  height: auto;
}

.article p.likes {
  color: green;
  font-weight: bold;
}

.date{
  font-size : 11px;
}

.text-h2{
  color : red;
}
